<!DOCTYPE html>

<html lang="en" ng-app="TickReg">

<head>

	<script src="Dependencies/jquery.js"></script>

    <script src="Dependencies/angular.js"></script>
	<script src="Dependencies/angular-route.js"></script>
    <script src="Dependencies/bindonce.js"></script>

    <script src="tickReg.js"></script>

	<link rel="stylesheet" href="Dependencies/bootstrap.css" />
    
	<link rel="stylesheet/less" type="text/css" href="tickReg.less" />
    <script src="Dependencies/less-1.7.5.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

                <!--BEGIN ANGULAR TEMPLATE DEFINITIONS-->

    <script type="text/ng-template" id="DropdownTemplate.html">

        <div class="form-group">
            <label for="{{::regarding}}" class="col-sm-12 control-label">{{::regarding}}</label>
            <div class="col-sm-12">
                <select class="form-control" id="{{::regarding}}" data-ng-model="data" data-ng-change="update()">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                </select>
            </div>            
        </div>

    </script>

    <script type="text/ng-template" id="dashboard.html">
        <h4>
            <div class="label">
                Dashboard
            </div><br />
            <a class="label label-info" href="#/Calculator">Calculator</a><br />
            <a class="label label-primary" href="#/DB">Database</a>
        </h4>
    </script>

    <script type="text/ng-template" id="Calculator.html">
        <form class="form-inline" role="form" novalidate>
            <tr-dropdown regarding="Adults"></tr-dropdown>
            <tr-dropdown regarding="Children"></tr-dropdown>
            <tr-dropdown regarding="Drinks"></tr-dropdown>

            <div class="form-group">
                <label for="inputServer" class="col-sm-12 control-label">Server</label>
                <div class="col-sm-12">
                    <select class="form-control" id="inputServer" data-ng-model="guests.Server" required>
                        <option>Dylan</option>
                        <option>Ebens</option>
                        <option>Lincoln</option>
                        <option>Mickey</option>
                        <option>Server 1</option>
                        <option>Server 2</option>
                        <option>Server 3</option>
                        <option>Server 4</option>
                        <option>Manager</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputServer" class="col-sm-12 control-label">Coupon?</label>
                <div class="radio">
                    <label class="col-sm-12">
                        <input type="radio" name="DiscountYes" value="yes" data-ng-model="guests.Discount">Yes
                    </label>
                </div>
                <div class="radio">
                    <label class="col-sm-12">
                        <input type="radio" name="DiscountNo" value="no" data-ng-model="guests.Discount">No
                    </label>
                </div>
            </div>


            <div class="form-group panel">
            <span class="errorMessage" ng-if="guests.Adults===0">| Number of Adults required |</span>
            <span class="errorMessage" ng-if="guests.Server===undefined"> | Please select a Server |</span>
                <span>Subtotal: {{guests.Subtotal | currency}}</span>
                <span>Discount: {{amts.DiscountAMT | currency}}</span>
                <span>Gratuity: {{amts.GratuityAMT | currency}}</span>
                <span>Tax: {{amts.Tax | currency}}</span>
                <span><strong>Total: {{guests.Total | currency}}</strong></span>
                <span> </span>
                <span><em><strong>{{guests.Server}}</strong></em></span>

                <button type="submit" class="btn btn-default pull-right" data-ng-click="deleteAll()">Delete All Records</button>
                <button type="submit" class="btn btn-default pull-right" data-ng-click="save()">Save</button>
                <button type="submit" class="btn btn-default pull-right" data-ng-click="retrieve()">Retrieve</button>
            </div>

        </form>
    </script>

    <script type="text/ng-template" id="DB.html">
        <h1>
            Database
        </h1>
    </script>

    <script type="text/ng-template" id="error.html">

        ERROR: wrong path name

    </script>



	<title>EWCC Ticket Register v2.2 by P. A. Pirault</title>
</head>

<body>

	<h1>EWCC</h1>
	<h2>ticket register</h2>
	<h3 class="pull-right">version 2.1</h3>
	<br />
	<br />
	<div class="well well-lg" ng-view>
        <script src="http://localhost:9090/livereload.js"></script>
	</div>
	
</body>
</html>
