@buttonColor: #428bca;

body{
	background-image: url("textures/texture2.gif");
}
h1{
  display : inline-block;
	padding:5px;
	font: 4em Serif;
	text-shadow:0 0 2px DarkGreen;
}
h2{
  display: inline-block;
	font:3em Sans-serif;
	text-shadow:0 0 5px #428bca;
}
h3{	 
	font: 1em courier;
	color:brown;
}
h4{
	font-size: 2.5em;
	text-align: center;
}
h4 div{
	color: black !important;
}
.form-group{
  padding-bottom: 10px;
}
button{
  color : white !important;
  background-color : @buttonColor !important;
}
.panel span {
  font: 1.5em Serif;
  display: block;
  padding: 2px;
  text-align : center;
}
.panel .errorMessage {
  margin: 0;
  padding: 0;
  color: @buttonColor;
  font: bolder 1.5em Sans-serif;
}
.panel{  
  width: 60% !important;
  background-color : DarkGreen;
  color : white;
  margin-left : auto;
  margin-right : auto;
}
@media (max-width: 480px){
  .panel{
    width: 75% !important;
  }
}
@media (min-width: 480px) and (max-width: 600px){
  .panel{
    width: 60% !important;
  }
}
@media (min-width: 600px){
  .panel{
    width: 50% !important;
  }
}
